@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(24, 16, 92);
  text-align: center;
  color: rgb(248, 242, 164);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/1322833915/photo/3d-rendering-of-bedroom-with-cozy-low-bed-at-night.jpg?s=612x612&w=0&k=20&c=bc11IA_8iXV2H9hsISrsQCuO0TKCqrvNQAo3xL67GhA=");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(24, 43, 131);
  
}



